.container{
    display:grid;    
    min-height: 100vh;
    gap:1em;
    grid-template-areas: 
    'TFTScreen ControlPanel'
    'CodeBox CodeBox';    
    grid-template-columns: auto 1fr;    
    grid-template-rows: auto 1fr;    
    
}
.TFTScreen{grid-area: TFTScreen;}
.ControlPanel{grid-area: ControlPanel;}
.CodeBox{grid-area:CodeBox;}

.TFTScreen{
    background-color: hsl(210, 4%, 10%);
}
.ControlPanel{
    background-color: khaki;
}
.CodeBox{
    background-color: lightgreen;
}

.TFTScreen >table{
    border-spacing: 0px;
    width:100%;
    height:100%;
}
.TFTScreen >table tr, td{
    border-spacing: 0px;
    border:0px;
}